node_modules/*
platforms/ios/givapp/app/*
!platforms/ios/givapp/app/givapp.json
platforms/android/givapp/app/src/main/assets/app/*
!platforms/android/givapp/app/src/main/assets/app/givapp.json
platforms/ios/givapp/Pods
platforms/ios/givapp/products/
platforms/ios/givapp/jpush/
platforms/ios/givapp/oss/
platforms/ios/givapp/wechat/
platforms/ios/givapp/alipay/
platforms/ios/givapp/NetEaseIM/
platforms/android/UIKit/
platforms/android/netIm/
platforms/android/oss/
platforms/android/wechat/
platforms/android/jpush/
.svn
*.DS_Store
.idea
build
temp
dist/*
*.iml
release
.gradle
/build